syntax = "proto3";

package {{.Package}};

import "google/protobuf/empty.proto";
import "{{.PackagePath}}/request_response.proto";
import "{{.PackagePath}}/resource.proto";

// {{.ResourceName | ToTitle}}Service defines methods for managing {{.ResourcePluralName}}.
service {{.ResourceName | ToTitle}}Service {
  // List{{.ResourcePluralName | ToTitle}} retrieves a list of {{.ResourcePluralName}} from the server.
  rpc List{{.ResourcePluralName | ToTitle}}(List{{.ResourcePluralName | ToTitle}}Request) returns (List{{.ResourcePluralName | ToTitle}}Response) {}

  // Get{{.ResourceName | ToTitle}} retrieves a single {{.ResourceName}} from the server.
  rpc Get{{.ResourceName | ToTitle}}(Get{{.ResourceName | ToTitle}}Request) returns ({{.ResourceName | ToTitle}}) {}

  // Create{{.ResourceName | ToTitle}} creates a new {{.ResourceName}} resource on the server.
  rpc Create{{.ResourceName | ToTitle}}(Create{{.ResourceName | ToTitle}}Request) returns ({{.ResourceName | ToTitle}}) {}

  // Update{{.ResourceName | ToTitle}} updates the {{.ResourceName}} resource on the server.
  rpc Update{{.ResourceName | ToTitle}}(Update{{.ResourceName | ToTitle}}Request) returns ({{.ResourceName | ToTitle}}) {}

  // Delete{{.ResourceName | ToTitle}} deletes the {{.ResourceName}} resource from the server.
  rpc Delete{{.ResourceName | ToTitle}}(Delete{{.ResourceName | ToTitle}}Request) returns (google.protobuf.Empty) {}

  // Add custom methods below...
}
