syntax = "proto3";

package {{.Package}};

import "google/protobuf/field_mask.proto";
import "google/protobuf/timestamp.proto";
import "{{.PackagePath}}/resource.proto";

// The standard List request definition.
message List{{.ResourcePluralName | ToTitle}}Request {
  // Only retrieve {{.ResourcePluralName}} from before this time.
  google.protobuf.Timestamp before_time = 1;
  // The start index for pagination.
  uint64 start = 2;
  // The maximum number of {{.ResourcePluralName}} to return.
  uint64 max_size = 3;
  // The unique id of the parent {{.ParentName}} for which to list the {{.ResourcePluralName}}.
  string {{.ParentName}}_id = 4;
}

// The standard List response definition.
message List{{.ResourcePluralName | ToTitle}}Response {
  // The retrieved list of {{.ResourcePluralName}}.
  repeated {{.ResourceName | ToTitle}} {{.ResourcePluralName}} = 1;
  // True if more {{.ResourcePluralName}} are available.
  bool next = 2;
}

// The standard Get request definition.
message Get{{.ResourceName | ToTitle}}Request {
  // The id of the requested {{.ResourceName}}.
  string id = 1;
}

// The standard Get response definition.
message Get{{.ResourceName | ToTitle}}Response {
  // The retrieved {{.ResourceName}}.
  {{.ResourceName | ToTitle}} {{.ResourceName}} = 1;
}

// The standard Create request definition.
message Create{{.ResourceName | ToTitle}}Request {
  // The {{.ResourceName}} to create.
  {{.ResourceName | ToTitle}} {{.ResourceName}} = 1;
  // The unique id of the parent {{.ParentName}} where the {{.ResourceName}} is to be created.
  string {{.ParentName}}_id = 4;
}

// The standard Create response definition.
message Create{{.ResourceName | ToTitle}}Response {
  // The created {{.ResourceName}}.
  {{.ResourceName | ToTitle}} {{.ResourceName}} = 1;
}

// The standard Update request definition.
message Update{{.ResourceName | ToTitle}}Request {
  // The id of the {{.ResourceName}} to be updated.
  string id = 1;
  // The {{.ResourceName}} which replaces the {{.ResourceName}} on the server.
  {{.ResourceName | ToTitle}} {{.ResourceName}} = 2;
  // The update mask applied to the {{.ResourceName}}. See https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.
  google.protobuf.FieldMask update_mask = 3;
}

// The standard Update response definition.
message Update{{.ResourceName | ToTitle}}Response {
  // The updated {{.ResourceName}}.
  {{.ResourceName | ToTitle}} {{.ResourceName}} = 1;
}

// The standard Delete request definition.
message Delete{{.ResourceName | ToTitle}}Request {
  // The id of the {{.ResourceName}} to be deleted.
  string id = 1;
}

// The standard Delete response definition.
message Delete{{.ResourceName | ToTitle}}Response {
  // The deleted {{.ResourceName}}.
  {{.ResourceName | ToTitle}} {{.ResourceName}} = 1;
}
