syntax = "proto3";

package {{.Package}};

import "google/protobuf/timestamp.proto";

// The default {{.ResourceName | ToTitle}} resource representation.
message {{.ResourceName | ToTitle}} {
  // The unique {{.ResourceName}} id.
  string id = 1;
  // Indicates when the {{.ResourceName}} was created.
  google.protobuf.Timestamp create_time = 2;
  // Indicates when the {{.ResourceName}} was last updated.
  google.protobuf.Timestamp update_time = 3;
  // The display name for the {{.ResourceName}}.
  string display_name = 4;
  // Add custom fields below...
}
